.appClass {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282c34;
  
}

.headerApp, .navbar {
  flex: 0 0 12%;
}

.main {
  flex: 1;
  overflow-y: auto;
}

.footer {
  flex: 0 0 12%
}