.headerApp {
  display: flex;              
  align-items: center;        
  justify-content: space-between;  
  padding: 0 20px;   
  background-color: #282c34; }

.app-logo {
  height: 100px;              
  width: auto;                
}

.headerStyle {
  color: bisque;
  font-size: 2rem;
  text-align: center;         
  margin: 0 auto;             
  flex-grow: 1;    
  text-align: center;         
}
